body {
    background: #f3f3f3;
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 30px;
}

#container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.card {
    background: white;
    padding: 20px;
    width: 200px;
    border-radius: 15px;
    box-shadow: 0 0 10px #0003;
}

.large {
    width: 400px;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding: 0;
}
