body {
    font-family: Arial;
    text-align: center;
    padding: 20px;
}

#escudo {
    margin: 20px;
}

input {
    padding: 10px;
    width: 250px;
    font-size: 18px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    margin-left: 10px;
}

#ranking {
    list-style: none;
    padding: 0;
}
